<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="style/style.css" />
</head>

<body>
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">Cartão Pré-Pago</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Gerar Cartão</a></li>
				<li><a href="/autorizacao">Autorização de Venda</a></li>
			</ul>
		</div>
	</nav>

	<div class="card-panel teal amber lighten-1" th:each="m : ${msg}">
		<span th:text="${m}"></span>
	</div>
	<div th:each="mens : ${mensagens}">
		<div class="card-panel teal "
			th:classappend="${mens.codigo == '00'} ? 'green' : 'amber lighten-1'">
			<div class="row">
				Código:<span th:text="${mens.codigo}"></span>
			</div>
			<div class="row">
				<span th:text="${mens.mensagem}"></span>
			</div>
		</div>
	</div>
	<form method="post" th:object="${autorizacao}"
		th:action="@{/autorizar}">

		<div class="container">
			<h3 class="header">Autorizar Venda</h3>
			<div class="row">
				<div class="input-field col s6">
					<i class="material-icons prefix">exit_to_app</i> <input type="text"
						value="" name="numero" maxlength="16" /> <label for="icon_prefix">Número
						Cartão</label>
				</div>
				<div class="input-field col s3">
					<i class="material-icons prefix">event</i> <input type="text"
						maxlength="5" name="validade" data-mask="00/00" /> <label
						for="icon_prefix">Validade</label>
				</div>
				<div class="input-field col s3">
					<i class="material-icons prefix">copyright</i> <input type="text"
						value="" name="cvv" maxlength="3" /> <label for="icon_prefix">CVV</label>
				</div>
			</div>
			<div class="row">

				<div class="input-field col s6">
					<i class="material-icons prefix">business</i> <input type="text"
						name="estabelecimento" /> <label for="icon_prefix">Estabelecimento</label>
				</div>

				<div class="input-field col s6">
					<i class="material-icons prefix">attach_money</i> <input
						type="text" maxlength="12" name="valor" id="valor" /> <label for="icon_prefix">Valor</label>
				</div>
			</div>
			<div class="row">

				<div class="input-field col s6">
					<i class="material-icons prefix">lock_outline</i> <input
						type="text" maxlength="4" name="senha" /> <label
						for="icon_prefix">Senha</label>
				</div>


			</div>

			<div class="row">

				<div class="col s6 rigth-align">
					<button class="waves-effect waves-light btn-large" type="submit">
						Autorizar <i class="material-icons right">send</i>
					</button>
				</div>
			</div>

		</div>
	</form>
	
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="jquery/jquery.min.js"></script>
	<script type="text/javascript" src="jQueryMaskPlugin/jquery.mask.min.js"></script>
	<script type="text/javascript" src="jQueryMaskPlugin/jquery.maskMoney.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#valor").maskMoney({
				showSymbol : true,
				symbol : "R$",
				decimal : ",",
				thousands : "."
			});
		});
	</script>
</body>
</html>