<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Cartão Pré Pago</title>
</head>
<body>
	<h1>Gerar Cartão Pré Pago</h1>

	<form method="post">
		Nome:<input name="nomeTitular" id="nomeTitular" required="" /> Saldo:<input
			name="saldo" id="saldo" required="" />


		<div th:each ="cartaoCredito : ${cartaoCredito}">
			<p><span th:text="${cartaoCredito.nomeTitular}"></span></p>
		</div>
		<button id="salvar">Salvar</button>
	</form>
</body>
</html>